__pycache__/
*.py[cod]
*.db
*.db-shm
*.db-wal
.pytest_cache/
.env
local.env

runtime/cache/*
runtime/database/*
runtime/normalized/*
runtime/raw/*
runtime/reports/*

!runtime/cache/.gitkeep
!runtime/database/.gitkeep
!runtime/normalized/.gitkeep
!runtime/raw/.gitkeep
!runtime/reports/.gitkeep
